/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap');

/* CSS Variables */
:root{
  /* Color Pallete */
  --primary-color: #d3e97a; /* lime green */
  --bg-color: #0a0a0a; /* dark bg */
  --text-color: #ffffff; /* white color */
  --secondary-bg: #222222; /* dark gray */
  --border-color: #494949; /* medium gray border */
  --hover-text: #dddddd; /* light gray hover' */

  /* Typography */
  --font-primary: "Manrope", sans-serif; /* body text font */
  --font-display: "Bebas Neue", sans-serif; /* headers font */
  --font-body: "Nunito-Sans", Arial, sans-serif; /* fallback font */

  /* Spacing-System */
  --container-padding: 120px; /* main container padding */
  --section-padding: 40px; /* section padding */
  --element-gap: 20px; /* gap between elements */

  /* Border-Radius */
  --border-radius-sm: 10px; /* small radius for cards */
  --border-radius-lg: 100px; /* large radius for buttons and inputs */

  /* Animation-Timing */
  --transition-fast: 0.3s; /* fast transition for hover effects */
  --transition-slow: 0.5s; /* slow transition for larger effects */
}

/* Reset Base Values */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--font-body);
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
}

/* Navigation Bar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  padding: var(--section-padding);
  height: 3rem;
}

/* nav links */
.navbar a{
  color: var(--text-color);
  padding: 14px var(--element-gap);
  text-decoration: none;
  text-align: center;
  transition: all var(--transition-fast);
}

.nav menu a:hover{
  background-color: var(--hover-text);
  color: var(--bg-color);
  border-radius: var(--border-radius-sm);
}

.nav-logo a {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--font-display);
  font-size: 1.8rem;
  text-transform: uppercase;
}